/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* ============     Fonts================== */

.interstatecondensed {
  font-family: "Interstate Condensed";
  font-style: normal;
  font-weight: normal;
}

.interstatelightcondensed {
  font-family: "Interstate Light Condensed";
  font-style: normal;
  font-weight: normal;
}

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */


html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body {
	margin: 0;
	font-size: 62.5%;
	line-height: 1.231;
}

body, button, input, select, textarea {
	font-family: sans-serif;
	color: #767676;
}

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

/* --------------------------------------------------------------------------*/


/*=============================================================================
 layout "as border" using 2 regions
=============================================================================*/

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family:Verdana, Geneva, sans-serif;
			}

	.layout {
			height: 100%;
			width:  100%;
}
			
			.north {
				position: relative; /*to avoid nav moving on portfolio page*/
				margin-top: 20px;
				margin-left: 48px;
				height: 120px;
				}
			
			.center {
				margin-top: 130px;
				margin-left: 185px;
				}
			
			.center-portfolio { /*fix margins 13px added by default on element.style*/
				padding-left: 245px;
			}	

/* =============================================================================
   Links
   ========================================================================== */

a { 
color: #c6c6c6; 
text-decoration: none;
}


a.selected, a:hover {
	zoom: 1;
    color: #f25012;
	color: rgba(242, 80, 18, 0.8);
}

a:focus { outline: none; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; list-style: none;}
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }



/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }



/* =============================================================================
   header "north"
   ========================================================================== */


/* -------------top search functionality -------------- */

.north #topsearch {
	right: 120px;
	top: 34px;
	position: absolute;
	width: 240px;
	height: 32px;
}

.north #topsearch .searchbox {
	position: relative;
}

.north #topsearch input {
	background: none;
	border: none;
}


.north #topsearch input[type="text"] {
	padding: 6px 0px 6px 10px;
	font-size: 1.35em; 
	font-style: italic;
	color: #c6c6c6;
	width: 220px;
	margin-left: 8px;
}

.north #topsearch input[type="text"]:hover {
	border: 1px #CCC solid;
	margin-left: 8px;
	}

.north #topsearch input[type="submit"] {
	background:url(../img/search_icon.png) no-repeat top right;
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: absolute;
	z-index: 100;
	right: 3px;
	top: 3px;
}

.north #topsearch input:focus { 
outline:none;
border: 1px #CCC solid;
}


/*--------------header line------------------------*/
#topline {
height: 3px;
background-color:#f25012; /*fall-back for IE and Opera, 
gradient supported in Safari 5.1, Firefox 3.6 Opera 11.1, Chrome and IE10*/
background-image: -moz-linear-gradient( left, #f8b1a0, #ea0819 50.0%,#f8b1a0 100.0%); 
background-image: -webkit-linear-gradient( left, #f8b1a0, #ea0819 50.0%,#f8b1a0 100.0%); 
background-image: -o-linear-gradient( left, #f8b1a0, #ea0819 50.0%,#f8b1a0 100.0%); 
background-image: -ms-linear-gradient( left, #f8b1a0, #ea0819 50.0%,#f8b1a0 100.0%); 
background-image: linear-gradient( left, #f8b1a0, #ea0819 50.0%,#f8b1a0 100.0%);
margin-left:  140px;
margin-top: 67px;
}

#line-project {
height: 3px;
background-color:#f25012; /*fall-back for IE and Opera, 
gradient supported in Safari 5.1, Firefox 3.6 Opera 11.1, Chrome and IE10*/
background-image: -moz-linear-gradient( left, #f8b1a0, #ea0819 50.0%,#f8b1a0 100.0%); 
background-image: -webkit-linear-gradient( left, #f8b1a0, #ea0819 50.0%,#f8b1a0 100.0%); 
background-image: -o-linear-gradient( left, #f8b1a0, #ea0819 50.0%,#f8b1a0 100.0%); 
background-image: -ms-linear-gradient( left, #f8b1a0, #ea0819 50.0%,#f8b1a0 100.0%); 
background-image: linear-gradient( left, #f8b1a0, #ea0819 50.0%,#f8b1a0 100.0%);
margin-left: 385px;
margin-top: 65px;	
}


/*--------------top-nav------------------------*/

#nav{
	position:absolute;
	top: 30px;
	left: 132px;
	margin:0;
	padding:0;
	list-style:none;
	width: 685px;
	font-size: 1.35em;
	height: 120px;
	text-align: center;
	
}

ul.dropdown li {
	list-style: none;
	list-style-image: none;
	vertical-align: middle;
	zoom: 1;
	float: left;
	width: 103px;
	padding: 0.2em 12px 0px 0.4em;
	/*padding: 0.3em 0  0.3em 1em;*/
	/*margin-right: 11px;*/
}



#nav li.menu1.open {
	border: 1px solid #f25012;
	border-bottom: none;
	/*add padding-1px*/
}



#nav li.menu2.open{
	border: 1px solid #f25012;
	border-bottom: none;
	/*add padding-1px*/
}

#nav li.menu2 {
	padding: 0.2em 5px 0px 0.4em;
}


#nav a:link {
	display: block;
	outline: 0;
	text-decoration: none;
	color: #b5b5b5;
}

#nav a.selected, #nav a:hover  {
	color: #f25012;
	color: rgba(242, 80, 18, 0.8);
	zoom: 1;
}

#nav .col2 a.selected {
    cursor:pointer;
}

#nav li.open > a {
	color: #f25012;
	color: rgba(242, 80, 18, 0.8);
	zoom: 1;
}

#nav li.open .sub,
#nav li.open .sub_clients {
	display: block;
}


/* --------------dropdown nav------------- */

.sub {
display: none;
left:0px;
top:auto;
position:absolute;
border: 1px solid #f25012;
border-top:  none;
background-color:  #FFF;
width: 110px;
padding-left: 10px;
z-index: 599;
}

.sub ul {
	position: relative;
	width:  90px;
	padding:  0;
	margin-top: 10px;
	background-color: #FFFFFF;
}

.sub ul li {
position: relative;
color: #b5b5b5; 
display: block;
list-style: none;
padding: 14px 0px 14px 0px;
text-align: left;
line-height: 1.35em;
background-color: #FFFFFF;
}

.sub ul li:last-child {
  margin-bottom: 10px;
}

ul.dropdown li .sub {
z-index: 599;
}




/* ------------------------side nav 3--------------------- */
#nav li .icon_nav img{
	margin-top: 12px;
	margin-left: 3px;
}


#nav li .icon_nav.opacity04 {
	filter: alpha(opacity=40);
	opacity: 0.4;
}

/* ----------------------our clients nav-----------------------*/

#nav li .sub_clients {
	position: relative;
	width: 233px;
	top: 13px;
	right: 129px;
	background-color: #FFF;
	padding-left: 3px;
	height: 569px;
	border: 1px solid #f25012;
	display:  none;
	z-index: 600;

}


#nav li .dropdownOpen {
	display: block;
}


#nav li.borderOn {
	border: 1px solid #f25012;
	border-bottom: none;
	padding-right: 5px;
	/*padding: 0.2em 0 0 0.9em;*/
}


.sub_clients .col1 {
	width: 114px;
	float:  right;
	margin-top: -1px;
	border-top: 1px solid #FFF;
	background-color: #FFF;
}

.sub_clients .col1 ul {
	padding: 0;
	margin: 0;
	position:  relative;
	right: 10px;
}

.sub_clients .col1 li {
	padding: 1em 0 1.9em 1em;
}

.sub_clients a {
	filter: alpha(opacity=28);
	opacity: 0.28;
}

.sub_clients a.selected, .sub_clients a:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}

.sub_clients .col2 {
	top: 0px;
	position:absolute;
	background-color:  #FFF;
	width:  100px; 
	padding-left: 8px;
	float:  left;
	text-align: left;
}

.sub_clients .col2 a{
	filter: alpha(opacity=100);
	opacity: 1;
}

.col2 ul {
	position: relative;
	width:  100px;
	padding:  0;
	margin-top: 10px;
}

.col2 ul li{
position: relative;
margin: 0;
color: #c6c6c6; 
display: block;
list-style: none;
padding: 14px 0px 14px 0px;
line-height: 1.35em;
background-color: #FFFFFF;
width:  109px;
}

.col2 a:hover, .col2 a.selected {
	background: url(../img/top_nav/icon-nav.png) no-repeat right -53px;

}

.col2 a {
	background: url(../img/top_nav/icon-nav.png) no-repeat right 5px;
}
.col2 a.arrow2 {
	background-position: right 11px;
}

.col2 a.arrow3 {
	background-position: right 23px;
}

.col2 a.arrow2:hover, .col2 a.arrow2.selected {
	background: url(../img/top_nav/icon-nav.png) no-repeat right -47px;

}

.col2 a.arrow3:hover, .col2 a.arrow3.selected {
	background: url(../img/top_nav/icon-nav.png) no-repeat right -35px;

}

.sub ul li a, .col2 li a {
font-family:Verdana, Geneva, sans-serif;
font-size: 0.9em;
color: #c6c6c6; 
text-indent: 0;
height: auto;
display: block;
outline:  0;
text-decoration: none;
}

/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */

.view_intructions {
	font-size: 1.35em;
	letter-spacing: 0.15px;
	color: rgba(91, 91, 91, 0.6);
	padding: 35px 40px 20px 84px;
}



/*-------enter page------------*/
.enter_page #content #logo img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.enter_page {
	background-color: #F0F0F0;
	text-align: center;
	color: #000;
	letter-spacing: 0.1em;
}

.enter_page #content h1 { 
	margin: 0;
	font-weight: normal;
	display: block;
	text-align: center;
}

.enter_page #content #line_2 {
	max-width: 34%;
	margin: 0 auto;
}

.enter_page a {
	color: #6D6E71;
	}
.enter_page a:hover {
	color: #000;
	}

.enter_page #content #logo {
	margin: 0 auto;

}

.enter_link {
	font-size: 18px;
	display: block;
}

.enter_page #content #line_2 #fittext3 {
	font-size: 18px;
	display: block;
}

.enter_page #content h1 {
	font-size: 25px;
	margin: 10% auto 5%;
}

.enter_page #content #line_2 h2 {
	font-size: 18px;
	margin-bottom: 20%;
	display: block;
	font-weight: normal;
	text-align: center;
}


.enter_page #content #logo .interstatecondensed {
	color: #000;
}

#floater	{float:left; height:50%; margin-bottom:-165px;}
.enter_page #content	{
	clear:both;
	position:relative;
	margin: 0 auto;
}

/*-------------- what we do -------------------------------*/

.what_list li a{
	color: #99ade2;
	color: rgba(91, 119, 204, 0.7);
}

.what_list li a:hover, .center .what_list li .selected {
	zoom: 1;
	color: #f25012;
	color: rgba(242, 80, 18, 0.8);
}
/*  ---------- jquery tabs --*/
#tabs ul li.active a, #bios ul li.active a{
	zoom: 1;
	color: #f25012;
	color: rgba(242, 80, 18, 0.8);
}

.center .what_list li {
	display: block;
	padding-top: 5px;
	padding-bottom: 6px;
	width: 150px;
}

.center .what_description {
	float: left;
	padding: 5px 80px 0px 35px;
	height: 420px;
	width: 683px;
	position: absolute;
	top: 257px;
	left: 440px;
	
}

.center .what_description p {
font-size: 1.35em;
line-height: 1.38em;
letter-spacing: 0.02em;
width: 500px;
}

.center .what_description p.p_width1 {
	width: 530px;
}

.center .what_list {
padding: 0 0 0 10px;
font-size: 1.35em;
letter-spacing: 0.04em;
}

/* --------------- portfolio page -------------- */

.row {
border-bottom: 1px solid #dadcdb;
overflow: hidden;
height: 160px;
}

.row:first-child {
margin-top: 4px;
}

.row .projectContainer {
padding: 0 35px 0 35px;
margin-top: 12px;
text-align: center;
float: left;
border-right: 1px solid #dadcdb;
height: 138px;
max-width: 128px;
}

.row .projectExtra {
margin-top: 0px;
border-right: none;
height: 138px;
max-width: 128px;
}

.row .borderRed {
border-right: 1px solid rgb(242, 80, 18);
}

.projectContainer .projectTitle {
width: 132px;
display: table;
height: 35px;
margin-bottom: 8px;
}

.projectContainer .projectTitle h1 {
display: table-cell;
vertical-align: middle;
text-align: center;
line-height: 18px;
margin-top: 0px;
line-height: 1.5em;
margin-top: 0px;
letter-spacing: 0.02em;
font-size: 1em;
}

.projectContainer .projectTitle h1, .projectContainer .projectTitle h1.small {
letter-spacing: 0.02em;
font-size: 0.9em;
line-height: 1.6em;
}


.projectContainer img {
-webkit-box-shadow: 0px 1px 3px 0px;
box-shadow: 0px 1px 3px 0px;
}

.projectContainer img.add_padding80 {
	padding-top:  80px;
	vertical-align: bottom;
}

.projectContainer img.add_padding100 {
	padding-top:  100px;
}


/*.shadow-filter {
	-webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.6));
	filter: url(#drop-shadow);
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
}*/

.projectContainer img.no-borderShadow {
border: none;
-webkit-box-shadow: none;
box-shadow: none;
}



.projectContainer a {
color: #767676;
}
.projectContainer a:hover > img {
	color: #767676;
}

.projectContainer a:hover {
zoom: 1;
color: #f25012;
color: rgba(242, 80, 18, 0.8);
}

.projectContainer a.no-project, .projectContainer1 a.no-project {
	display: block;
	width: 123px;
	height: 94px;
	/*margin-top: 0px;*/
}



/* ---------------project slides------------*/
#sliderContent {
	padding-left: 245px;
}

#sliderContent .viewer {
	height: 520px;
	text-align: center;
	z-index: 1000;
}


.slides {
height:  500px;
margin-top: 21px;
padding-left: 70px;
}

.projectSlides {
	width: auto;
	margin: 0 10px 0 10px;
	float: left;
	height: 500px;
}

.slideExtra {
	width: 500px; /* adding a slide to porject with less slide */
}

.marginLeft25 /*adding extra margin*/
{
	margin-left: 22px;
}



.projectDescription {
	width:  240px;
	border: 1px #CCC solid;
	height: 388px;
	margin: 40px 10px 0px 10px;
	padding: 5px;
	float:  left;
	text-align: left;
	letter-spacing: 0.050em;
}

.projectDescription p{
	font-size: 1.16em;
	line-height: 1.38em;
	margin: 0;
	padding:0;
}

.slides h1, slides h2 {
min-height: 20px;
font-size: 1.35em;
letter-spacing: 0.04em;
}

.slides h2 {
	margin-top: 15px;
}


.projectSlides img {
-webkit-box-shadow: 1px 2px 3px 0px ;
-moz-box-shadow: 1px 2px 3px 0px ;
box-shadow: 1px 2px 3px 0px ; 
	}
	
.projectSlides img.no-shadow {
-webkit-box-shadow: none ;
-moz-box-shadow: none ;
box-shadow: none ; 
	}
	

.projectSlides img.shortSlide {
	margin-top:  4px;
}
	
.projectTitle .subTitle {
	font-size: 0.9em;
}

/*.center h1.projectTitle {
	width: 661px;
	text-align: center;
	padding: 10px 0 10px 0;
}

.center .msg_coming_soon {
	padding-left: 10px;
	font-size: 14px;
}
*/

/* --------------who we are -------------*/

.staff {
	float: left;
	padding-left: 10px;
	list-style-type: none;
	text-align:center;
	margin-top: 38px;
	width: 500px;
	margin-right: 200px;
	margin-left: 192px;
}
.staff li {
	float: left;
	width: 100px;
	height: 144px;
}

.staff li a {
color: #5B77CC;
font-size: 1.29em;
line-height: 1.25em;
filter: alpha(opacity=100);
opacity: 1;
letter-spacing: 0.04em;
}

.staff li a img {
	margin-bottom: 3px;
	filter: alpha(opacity=100);
	opacity: 1;
}

#bios {
	padding-left: 45px;
}

#bios .work img {
	margin-bottom: 3px;
	filter: alpha(opacity=40);
	opacity: 1;
}

.staff li a:hover, .staff li a.selected {
	color: #f25012;
	color: rgba(242, 80, 18, 0.8);
}

.staff li ul li {
	margin: 0px;
	padding: 0px;
	font-size: 1.25em;
	letter-spacing: 0.02em;
}
.staff li ul {
	margin: 0px;
	padding: 0px;
}

#ladda-mea{
    font-size: 14px !important;
}

#ladda-mea:hover{
    background: rgba(91, 119, 204, 0.25);
}

ul.staff ul {
	visibility: hidden;
	top: 10px;
}

ul.staff ul li {
}

ul.staff li:hover > ul {
 visibility: visible;
}

#bios ul.staff li.active ul {
 visibility: visible;
}


#bios .bio {
	border: 1px solid #dbdbdb;
	float: left;
	display: block;
	 padding: 8px 25px 8px 8px;
    width: 655px;
	margin: -20px 500px 20px 212px;
}

#bios #bio-5 {
	width: 660px;
	}

#bios .bio h2 {
	color: #f25012;
	color: rgba(242, 80, 18, 0.8);
	font-size: 1.29em;
	font-weight: normal;
	margin: 0;
	padding: 0;
	line-height: 20px;
	letter-spacing: 0.02em;
}
#bios .bio h3 {
	font-size: 1.29em;
	font-weight: normal;
	margin: 0;
	padding: 0;
	line-height: 15px;
	letter-spacing: 0.02em;
}

#bios .work {
	float: right;
	width: 135px;
	position: absolute;
	margin-top:  35px;
	padding: 4px 4px 50px 3px;
	border: 1px solid #dbdbdb;
	height: 173px;
}
#bios .work p.work_for_us {
padding: 0;
margin-top: 0px;
width: 80px;
font-size: 1.29em;
line-height: 1.38em;
letter-spacing: 0.02em;
color: #dbdbdb;
}

#bios .bio p {
font-size: 1.29em;
line-height: 1.38em;
letter-spacing: 0.015em;
}

/* -------------- how to reach us ----------------------*/
#contactScroller {
	width: 100%;
	overflow: auto;
	height: 600px;
}

#contactScroller .mCSB_horizontal>.mCSB_container {
margin-top: 70px;
}

.center #contact_details {
	margin-left: 220px;
	width: 1400px;
	height: 700px;
}

.center #contact_details li {
margin-bottom: 50px;
font-size: 1.35em;
}

.center #contact_details li h3 {
	line-height: 2.3em;
	font-weight: bold;
	font-size: 1.3em;
}
 
.center iframe {
	position: absolute;
left: 1105px;
top: 280px;
width: 430px;
display:  block;
}

.center #address {
position: absolute;
left: 425px;
top: -10px;
min-width: 200px;
}

.center #address li {
	margin-bottom: 37px;
}

.center #address li {
	font-size: 1.13em;
	line-height: 1.15em;
}

.center #address li img {
	margin-bottom: 4px;
}

.center #address li:first-child {
	margin-bottom: 5px;
}
.center #address li.address {
	font-size: 1.35em;
	line-height: 1.30em;
	margin-bottom: 31px;
}

.nested-what .box_small1 {
	float: left;
	height: 240px;
	width: 230px;
	margin: 0 20px 20px 0;
	padding: 15px 5px 10px 5px;
	color: #4f5151;
}

.nested-what {
	min-width: 940px;
}

.nested-what .box7 {
	background-color: #ffe19a;
}


.scroll-content {
	padding-left: 43px;
}

/* contact form ---*/

.contactForm_container {
width: 430px;
Height: 430px;
position: absolute;
top: 280px;
left: 645px;
background: #88ccff;
}

.contactForm_container form {
	padding:  10px;
}

.contactForm_container input,  .contactForm_container textarea{
padding: 8px 0px 8px 10px;
font-size: 1.35em;
font-style: normal;
color: #767676;
width: 410px;
margin-bottom: 8px;
background-color: #FFFFFF;
border: none;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.contactForm_container input:focus, .contactForm_container textarea:focus {
    /* To give a little highlight on active elements */
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.contactForm_container textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
    /* To give enough room to type some text */
  height: 18.6em;
    /* To allow users to resize any textarea vertically
       It does not work on every browsers */
    resize: vertical;
    color:  #767676;
    resize: none;
}

.contactForm_container input[type='submit'] {
width: auto;
background: #FFF;
color: #767676;
border: none;
padding: 8px 20px;
font-weight: normal;
outline: none;
float: right;
-webkit-transition: background-color .1s ease-in-out; 
-moz-transition:background-color .1s ease-in-out; 
-o-transition: background-color .1s ease-in-out; 
transition: background-color .1s ease-in-out; 
}

.contactForm_container input[type='submit']:hover {
	background: rgba(91, 119, 204, 0.25);
}

/*stylign the placeholder text */

::-webkit-input-placeholder {
   color: #767676;
}

:-moz-placeholder { /* Firefox 18- */
   color: #767676;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #767676;  
}

:-ms-input-placeholder {  
   color: #767676;  
}

#ladda-mea{
    width: auto;
 background: #B1B1B1; 
color: #fff;
border: none;
padding: 8px 20px;
font-weight: normal;
outline: none;
float: right;
-webkit-transition: background-color .1s ease-in-out;
-moz-transition: background-color .1s ease-in-out;
-o-transition: background-color .1s ease-in-out;
transition: background-color .1s ease-in-out;
}

#map_container {
	width: 150px; 
	height: 150px;
	overflow: hidden; 
}

/* =============================================================================
   headings
   ========================================================================== */

h1 {
	font-size: 1.35em;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	color: #4f5151;
	letter-spacing: -0.05em;
}

h2 {
	font-size: 1.35em;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	color: #4f5151;
}

h3 {
	font-size: 14px;
	margin: 0px;
}


/* =============================================================================
   access marketing
   ========================================================================== */


h1.access {
	font-size: 2em;
	font-weight: normal;
	color: rgba(79, 81, 81, 0.8);
	margin-bottom: 40px;
	letter-spacing: 0.01em;
	margin-top: -20px;
}

.access-number {
	font-size: 1.3em;
    margin-left: -135px;
    width:  100px;
	
}

h2.access {
	font-size: 1.7em;
	font-weight: normal;
	border-bottom: solid 1px #dadcdb;
	padding: 15px 0 30px 0px;
	color: rgba(79, 81, 81, 0.8);
}

h3.access {
	height: 30px;
font-size: 1em;
line-height: 1.5em;
letter-spacing: 0.02em;
font-weight: normal;
margin: 10px 5px;
color: #767676;
}

table.access {
	width: 790px;
	border-top: 1px solid rgb(242, 80, 18);
	border-width: 3px;
    margin: 20px 0 30px 0;
    border-collapse: separate;
	border-spacing: 3px;
	padding:  0;
}

.img-access {
	display: table;
}


.img-access a {
	display: table-cell;
	vertical-align: middle;
	padding:  15px;
}

table.access td {
    text-align: center;
	width: 228px;
	padding: 0 15px;
	border-left: 1px solid rgb(242, 80, 18);
}


table.access td:last-child {
	 border-right: 1px solid red;
}

a.access-project {
	display: block;
	background-color: #D3D4D6;
	width: 135px;
	height: auto;
}

table.access td p, p.access-caption {
	text-align: left;
	line-height: 1.5em;
	letter-spacing: 0.02em;
	padding: 5px 10px 0px 4px;
}

p.access-caption {
	width:  750px;
	margin: 0 0 30px 20px;
}
/* ==============================   img styling ============================================ */

a img.transparency > hover {
	zoom: 1;
	filter: alpha(opacity=40);
	opacity: 0.4;
}

a img.transparent {
	zoom: 1;
	filter: alpha(opacity=30);
	opacity: 0.3;
	}

/* ==============================   color styling  =========================== */
.general_p, p {
	color: #767676;
}

.red {
	color: #f25012;
	color: rgba(242, 80, 18, 0.8);
}

.grey {
	color: #767676;
}

.blue_link {
	color: #99ade2;
    color: rgba(91, 119, 204, 0.7);
}
 
.color1 {
	background-color: #F1F1F1;
}

.color2 {
	background-color: #EDF1F6;
}

.color3 {
	border: 1px solid #6C4113;
}
.color4 {
	border: 1px solid #81908A;
}
.color5 {
	border: 1px solid #78024A;
}
.color6 {
	border: 1px solid #7A9B95;
}

/*  --------   */
.color7 {
	border: 1px solid #94B9E9;
}
.color8 {
	border: 1px solid #C9981C;
}
.color9 {
	border: 1px solid #A94A0F;
}
.color10 {
	border: 1px solid #3E3631;
}
/*  --------   */
.color11 {
	border: 1px solid #78024A;
}
.color12{
	border: 1px solid #7C7F55;
}
.color13{
	border: 1px solid #769041;
}
.color14{
	border: 1px solid #C18CAB;
}

/*  --------   */
.color15{
	border: 1px solid #B7D1A1;
}
.color16{
	border: 1px solid #68376F;
}
.color17{
	border: 1px solid #A94A0F;
}


/* ------- p ----
p {
	font-size: 1.10em;
	line-height: 1.38em;
}*/

/* ==============================   slider   =============================================== */

.ui-slider { position: relative; text-align: left; top: 10px;}
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 86px; height: 19px; cursor: default;}
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: 1px; }
.ui-slider-horizontal .ui-slider-handle { top: -10px; margin-left: -30px; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

/* Component containers
----------------------------------*/
.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { /*background: #dd363a 50% top repeat-x; color: #333333; height: 1px;*/}
.ui-widget-content a { color: #000; }

 /* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default {background: url(../img/scroller.png) 50% 50% no-repeat; font-weight: bold; color: #1c94c4; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { background: url(../img/scroller.png) 50% 50% no-repeat; font-weight: bold; color: #c77405; }
.ui-state-active, .ui-widget-content .ui-state-active {background: url(../img/scroller.png) 50% 50% no-repeat;  font-weight: bold; color: #eb8f00; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; text-decoration: none; }
.ui-widget :active { outline: none; }


/*content slider */
.scroll-pane { overflow: auto; width: 100%; float:left; }
.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; position: relative; top:0px;}
.draggerRail{
	clear: left;
	padding: 0 4px 0 2px;
   margin: 0 -1px -1px -1px;
   position: relative;
   top: 0px;
/* width: 100%; */
/* z-index: 10999; */
height: 3px;
	background-color:#f25012; /*fall-back for IE and Opera, 
gradient supported in Safari 5.1, Firefox 3.6 Opera 11.1, Chrome and IE10*/
background-image: -moz-linear-gradient( left, #f8b1a0, #ea0819 50.0%,#f8b1a0 100.0%); 
background-image: -webkit-linear-gradient( left, #f8b1a0, #ea0819 50.0%,#f8b1a0 100.0%); 
background-image: -o-linear-gradient( left, #f8b1a0, #ea0819 50.0%,#f8b1a0 100.0%); 
background-image: -ms-linear-gradient( left, #f8b1a0, #ea0819 50.0%,#f8b1a0 100.0%); 
background-image: linear-gradient( left, #f8b1a0, #ea0819 50.0%,#f8b1a0 100.0%);
}

.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto; }
.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
.scroll-bar-wrap .ui-slider-handle { top:.2em; height: 20px; padding-left: 15px;}
.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }


/* ---------------*/
.viewer {
	overflow: hidden;
	width:  100%; /*apply width fixed on max-width*/
}

.indent_portfolio {
	/*margin-left:  245px;	*/
}

#slider {
	position: relative;
	top:  -16px;
	left: 60px;
}

p.msg {
margin: 30px 0 0 10px;
font-size: 1.35em;
letter-spacing: 0.05em;
}



/*----------- thank you oage ---*/
.thankyou1, .thankyou2 {
	font-weight: normal;
	text-align: center;
}

.thankyou1 {
	font-size: 25px;
	line-height: 40px;
}

     .thankyou2 {
	font-size: 17px;
	line-height: 40px;
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

    
